@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    background: #fff;
}

::-moz-selection {
    background:#C3934B;
    color: #fff;
}
  
::selection {
    background: #C3934B;
    color: #fff;
}