:root{
    --white_background: #fff;
    --title_color: #6D6D6D;
    --font_color: #3D3D3D;
    --gold: #C3934B;
}

#services {
    display: grid;
    place-content: center;
}
.subtitle {
    color: var(--title_color);
    font-size: 18px;
    text-align: center;
}
#services p {
    color: var(--font_color);
    font-weight: 600;
    letter-spacing: 2px;
    width: 600px;
    font-size: 20px;
    
}

span.decoration {
    text-decoration: underline;
    text-decoration-color: var(--gold);
}
#services-cards{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    width: 100%;
    gap: 150px;
}
.card {
    max-width: 210px;
}

.card header {
    display: grid;
    place-content: center;
}
.card h2 {
    text-align: center;
}

.card section ul{
    display: grid;
    place-content: center;
    gap: 5px;
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.card img {
    width: 200px;
    height: 200px;
}

.card h2{
    color:var(--gold)
}
.card li {
    list-style: none;
}
.custom-h2 {
    color: var(--gold);
    text-align: center;
    margin-top: 75px;
    letter-spacing: 4px;
}
#location {
    margin-top:100px;
    
}
#location p{
    font-size: 24px;
    text-align: center;
    letter-spacing: 4px;
    color:var(--font_color)
}
#image-container {
    background-color: #3D3D3D;
    padding: 25px 0;
    display: grid;
    place-content: center;
    width: 100%;
}

#location img {
    width: 185dvh;
    height: 100dvh;
    border-radius: 20px;
}

#contact-form {
    margin-top: 75px;
    margin-bottom: 75px;
}
#contact-form h2{
    margin-bottom: 75px;
}
#contact-form-container{
    display: flex;
    place-content: center;
    gap: 450px;
}
#form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#form-container form label {
    color: var(--font_color);
    letter-spacing: 2px;
    font-weight: 600;
}

#asunto {
    border: 2px solid var(--font_color);
    width: 300px;
    height: 25px;
}
#asunto:focus {
    transition: all linear 0.2s;
    border: 2px solid var(--gold);
    outline: none;
}
#mensaje {
    border: 2px solid var(--font_color);
    width: 300px;
    height: 135px;
    resize: none;
}
#mensaje:focus {
    transition: all linear 0.2s;
    border: 2px solid var(--gold);
    outline: none;
}
#submit {
    border: 2px solid var(--font_color);
    width: 200px;
    height: 35px;
    margin-left: 108px;
    color: var(--font_color);
    letter-spacing: 2px;
}

#submit:hover {
    color: #fff;
    transition: all linear 0.3s;
    cursor: pointer;
    background-color: var(--gold);
    border: 2px solid var(--gold);
}
.info-section {
    display: flex;
    align-items: center;
    color: var(--font_color);
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 18px;
    margin-bottom: 10px;
    gap: 10px;
}
.info-section p {
    margin: 0;
}
#mail-svg {
    margin-top: 6px;
}
footer {
    background-color: var(--gold);
    height: 45px;
    text-align: center;
    align-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
}
